@import './varables.module';
@import './flex.module';
@import './font.module';
@import './cursor.module';

.editForm {
    textarea {
        width: 170px;
        resize: none;
        padding: 5px 10px;
        height: 135px;
        word-break: keep-all;
        overflow: auto;
        @include font(14px,bold);
    }

    section {
        @include flexCenter(row, space-between);
    }

    button {
        padding: 5px 10px;
        border-radius: 5px;
        background: none;
        @include curcor(pointer);
        @include font(12px,bold);
    } 

    .saveBtn:hover {
        background-color: $success;
        color: $white;
    } 

    .closeBtn {
        border: none;
        &:hover {
            color: $success;
        }
    }
    
}
